<!--引用uploadify-->
<script src="/javascripts/uploadify3.2.1/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/uploadify3.2.1/uploadify.css" />
<style type="text/css">
    #edittable td{
        text-align: right;
        vertical-align: middle;
    }
</style>

<div class="modal-dialog" style="margin-top: 5%;width: 70%">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">教师信息编辑</h4>
        </div>

        <div class="modal-body">
            <div class="box">
                <!-- box-body -->
                <div class="box-body">
                    <form id="teacherform" method="post" action="teacher/_editTeacher.html">
                        <input id="ID" name="ID" type="hidden" class="form-control" value="<%= id %>">
                            <table id="edittable" class="table table-bordered">
                                <tr></tr>
                                <tr>
                                    <td>姓名</td>
                                    <td><input id="XM" name="XM" type="text" class="form-control" value="<%= xm %>"></td>
                                    <td>工号</td>
                                    <td><input id="GH" name="GH" type="text" class="form-control" value="<%= gh %>"></td>
                                    <td>性别</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="XB" name="XB" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>男</option>
                                            <option>女</option>
                                        </select>
                                        <input id="XBTEMP" name="XBTEMP" type="hidden" value="<%= xb %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>出生年月</td>
                                    <td><input id="CSNY" name="CSNY" type="text" class="form-control" value="<%= csny %>"></td>
                                    <td>民族</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="MZ" name="MZ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="汉族">汉族</option>
                                            <option value="壮族">壮族</option>
                                            <option value="满族">满族</option>
                                            <option value="回族">回族</option>
                                            <option value="其他">其他</option>
                                        </select>
                                        <input id="MZTEMP" name="MZTEMP" type="hidden" value="<%= mz %>">
                                    </td>
                                    <td>身份证号码</td>
                                    <td><input id="SFZHM" name="SFZHM" type="text" class="form-control" value="<%= sfzhm %>"></td>
                                </tr>
                                <tr>
                                    <td>联系电话</td>
                                    <td><input id="LXDH" name="LXDH" type="text" class="form-control" value="<%= lxdh %>"></td>
                                    <td>所属教研室</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="JYSMC" name="JYSMC" style="width: 100%">
                                            <option value="">请选择</option>
                                            <%- jysStr %>
                                        </select>
                                        <input id="JYSMCTEMP" name="JYSMCTEMP" type="hidden" value="<%= jysmc %>">
                                    </td>
                                    <td>入校时间</td>
                                    <td><input id="RXSJ" name="RXSJ" type="text" class="form-control" value="<%= rxsj %>"></td>
                                </tr>
                                <tr>
                                    <td>分管负责人</td>
                                    <td><input id="FGFZR" name="FGFZR" type="text" class="form-control" value="<%= fgfzr %>"></td>
                                    <td>定职时间</td>
                                    <td><input id="DZSJ" name="DZSJ" type="text" class="form-control" value="<%= dzsj %>"></td>
                                    <td>任职状态</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="RZZT" name="RZZT" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>在职</option>
                                            <option>离职</option>
                                        </select>
                                        <input id="RZZTTEMP" name="RZZTTEMP" type="hidden" value="<%= rzzt %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>单位号</td>
                                    <td><input id="DWH" name="DWH" type="text" class="form-control" value="<%= dwh %>"></td>
                                    <td>单位名称</td>
                                    <td><input id="DWMC" name="DWMC" type="text" class="form-control" value="<%= dwmc %>"></td>
                                    <td>工作单位类别</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="GZDWLB" name="GZDWLB" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>行政单位</option>
                                            <option>科研单位</option>
                                            <option>高等学校</option>
                                            <option>其他事业单位</option>
                                            <option>企业公司</option>
                                            <option>部队及其他单位</option>
                                            <option>其他</option>
                                        </select>
                                        <input id="GZDWLBTEMP" name="GZDWLBTEMP" type="hidden" value="<%= gzdwlb %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>学历</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="XL" name="XL" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>博士研究生</option>
                                            <option>硕士研究生</option>
                                            <option>本科</option>
                                            <option>专科及以下</option>
                                        </select>
                                        <input id="XLTEMP" name="XLTEMP" type="hidden" value="<%= xl %>">
                                    </td>
                                    <td>最高学位</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="ZGXW" name="ZGXW" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>博士</option>
                                            <option>硕士</option>
                                            <option>学士</option>
                                            <option>无学位</option>
                                        </select>
                                        <input id="ZGXWTEMP" name="ZGXWTEMP" type="hidden" value="<%= zgxw %>">
                                    </td>
                                    <td>是否专任</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFZR" name="SFZR" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>是</option>
                                            <option>否</option>
                                        </select>
                                        <input id="SFZRTEMP" name="SFZRTEMP" type="hidden" value="<%= sfzr %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>毕业时间</td>
                                    <td><input id="BYSJ" name="BYSJ" type="text" class="form-control" value="<%= bysj %>"></td>
                                    <td>毕业院校</td>
                                    <td><input id="BYYX" name="BYYX" type="text" class="form-control" value="<%= byyx %>"></td>
                                    <td>学缘</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="XY" name="XY" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>本校</option>
                                            <option>外校（境内）</option>
                                            <option>外校（境外）</option>
                                        </select>
                                        <input id="XYTEMP" name="XYTEMP" type="hidden" value="<%= xy %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>专业技术职称</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="ZYJSZC" name="ZYJSZC" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="教授">教授</option>
                                            <option value="副教授">副教授</option>
                                            <option value="讲师">讲师</option>
                                            <option value="助教">助教</option>
                                            <option value="其他正高级">其他正高级</option>
                                            <option value="其他副高级">其他副高级</option>
                                            <option value="其他中级">其他中级</option>
                                            <option value="其他初级">其他初级</option>
                                            <option value="未评级">未评级</option>
                                        </select>
                                        <input id="ZYJSZCTEMP" name="ZYJSZCTEMP" type="hidden" value="<%= zyjszc %>">
                                    </td>
                                    <td>学科类别</td>
                                    <td><input id="XKLB" name="XKLB" type="text" class="form-control" value="<%= xklb %>"></td>
                                    <td>导师类型</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="DSLX" name="DSLX" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>博士、硕士导师</option>
                                            <option>博士导师</option>
                                            <option>硕士导师</option>
                                            <option>无</option>
                                        </select>
                                        <input id="DSLXTEMP" name="DSLXTEMP" type="hidden" value="<%= dslx %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>地区<br>（受聘前工作所在地）</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="DQ" name="DQ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option>境内</option>
                                            <option>境外（国外及港澳台）</option>
                                        </select>
                                        <input id="DQTEMP" name="DQTEMP" type="hidden" value="<%= dq %>">
                                    </td>
                                    <td>教学效果</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="JXXG" name="JXXG" style="width: 100%">
                                            <option value="一般">请选择</option>
                                            <option value="优秀">优秀</option>
                                            <option value="良好">良好</option>
                                            <option value="一般">一般</option>
                                            <option value="差">差</option>
                                        </select>
                                        <input id="JXXGTEMP" name="JXXGTEMP" type="hidden" value="<%= jxxg %>">
                                    </td>
                                    <td>初始代课时间</td>
                                    <td><input id="CSDKSJ" name="CSDKSJ" type="text" class="form-control" value="<%= csdksj %>"></td>
                                </tr>
                                <tr>
                                    <td>可授课程</td>
                                    <td colspan="4"><textarea id="KSKC" name="KSKC" type="text" class="form-control"
                                        style="height:3.5rem;"><%= kskc %></textarea></td>
                                </tr>
                                <tr>
                                    <td>是否为双师型</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFWSSX" name="SFWSSX" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="是">是</option>
                                            <option value="否">否</option>
                                        </select>
                                        <input id="SFWSSXTEMP" name="SFWSSXTEMP" type="hidden" value="<%= sfwssx %>">
                                    </td>
                                    <td>是否具有工程背景</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFJYGCBJ" name="SFJYGCBJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="是">是</option>
                                            <option value="否">否</option>
                                        </select>
                                        <input id="SFJYGCBJTEMP" name="SFJYGCBJTEMP" type="hidden" value="<%= sfjygcbj %>">
                                    </td>
                                    <td>是否具有行业背景</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFJYHYBJ" name="SFJYHYBJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="是">是</option>
                                            <option value="否">否</option>
                                        </select>
                                        <input id="SFJYHYBJTEMP" name="SFJYHYBJTEMP" type="hidden" value="<%= sfjyhybj %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>是否上交身份证复印件</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJSFZFYJ" name="SFSJSFZFYJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJSFZFYJTEMP" name="SFSJSFZFYJTEMP" type="hidden" value="<%= sfsjsfzfyj %>">
                                    </td>
                                    <td>是否上交工作证复印件</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJGZZFYJ" name="SFSJGZZFYJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJGZZFYJTEMP" name="SFSJGZZFYJTEMP" type="hidden" value="<%= sfsjgzzfyj %>">
                                    </td>
                                    <td>是否上交教师资格证复印件</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJJSZGZFYJ" name="SFSJJSZGZFYJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJJSZGZFYJTEMP" name="SFSJJSZGZFYJTEMP" type="hidden" value="<%= sfsjjszgzfyj %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>是否上交学位证复印件</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJXWZFYJ" name="SFSJXWZFYJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJXWZFYJTEMP" name="SFSJXWZFYJTEMP" type="hidden" value="<%= sfsjxwzfyj %>">
                                    </td>
                                    <td>是否上交毕业证复印件</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJBYZFYJ" name="SFSJBYZFYJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJBYZFYJTEMP" name="SFSJBYZFYJTEMP" type="hidden" value="<%= sfsjbyzfyj %>">
                                    </td>
                                    <td>是否上交职称证复印件</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJZCZFYJ" name="SFSJZCZFYJ" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJZCZFYJTEMP" name="SFSJZCZFYJTEMP" type="hidden" value="<%= sfsjzczfyj %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td>是否上交协议书</td>
                                    <td style="text-align: left;">
                                        <select class="form-control select2" id="SFSJXYS" name="SFSJXYS" style="width: 100%">
                                            <option value="">请选择</option>
                                            <option value="有">是</option>
                                            <option value="无">否</option>
                                        </select>
                                        <input id="SFSJXYSTEMP" name="SFSJXYSTEMP" type="hidden" value="<%= sfsjxys %>">
                                    </td>
                                    <td>附件
                                        <input id="FJ" name="FJ" type="hidden" value="<%= fj %>"/></td>
                                    <td><span id="fileList"></span></td>
                                    <td>上传附件
                                    </td>
                                    <td style="text-align: left ">
                                        <div>
                                            <div id="file_upload_1"></div>
                                            <a href="javascript:$('#file_upload_1').uploadify('upload','*');">
                                                确认上传
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="text-align:center;margin: auto">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">提交</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {

    //性别下拉选择
        //注册Select2控件节点
        var $xbs = $("#XB").select2();
        //获取select控件
        var xbs = document.getElementById("XB");
        //给select赋值为option
        xbs.value = $("#XBTEMP").val();
        //设置select2动态显示
        for(var i=0;i<xbs.length;i++) {
            if (xbs.options[i].value == $("#XBTEMP").val()) {
                $xbs.val(xbs.options[i].value).trigger("change");
                break;
            }
        }
    //民族下拉选择
        var $mzs = $("#MZ").select2();
        var mzs = document.getElementById("MZ");
        mzs.value = $("#MZTEMP").val();
        for(var i=0;i<mzs.length;i++) {
            if (mzs.options[i].value == $("#MZTEMP").val()) {
                $mzs.val(mzs.options[i].value).trigger("change");
                break;
            }
        }
        //所属教研室下拉选择
        var $jysmcs = $("#JYSMC").select2();
        var jysmcs = document.getElementById("JYSMC");
        jysmcs.value = $("#JYSMCTEMP").val();
        for(var i=0;i<jysmcs.length;i++) {
            if (jysmcs.options[i].value == $("#JYSMCTEMP").val()) {
                $jysmcs.val(jysmcs.options[i].value).trigger("change");
                break;
            }
        }
    //专业技术职称下拉选择
        var $zyjszcs = $("#ZYJSZC").select2();
        var zyjszcs = document.getElementById("ZYJSZC");
        zyjszcs.value = $("#ZYJSZCTEMP").val();
        for(var i=0;i<zyjszcs.length;i++) {
            if (zyjszcs.options[i].value == $("#ZYJSZCTEMP").val()) {
                $zyjszcs.val(zyjszcs.options[i].value).trigger("change");
                break;
            }
        }
    //任职状态下拉选择
        var $rzzts = $("#RZZT").select2();
        var rzzts = document.getElementById("RZZT");
        rzzts.value = $("#RZZTTEMP").val();
        for(var i=0;i<rzzts.length;i++) {
            if (rzzts.options[i].value == $("#RZZTTEMP").val()) {
                $rzzts.val(rzzts.options[i].value).trigger("change");
                break;
            }
        }
    //工作单位类别下拉选择
        var $gzdwlbs = $("#GZDWLB").select2();
        var gzdwlbs = document.getElementById("GZDWLB");
        gzdwlbs.value = $("#GZDWLBTEMP").val();
        for(var i=0;i<gzdwlbs.length;i++) {
            if (gzdwlbs.options[i].value == $("#GZDWLBTEMP").val()) {
                $gzdwlbs.val(gzdwlbs.options[i].value).trigger("change");
                break;
            }
        }
    //学历下拉选择
        var $xls = $("#XL").select2();
        var xls = document.getElementById("XL");
        xls.value = $("#XLTEMP").val();
        for(var i=0;i<xls.length;i++) {
            if (xls.options[i].value == $("#XLTEMP").val()) {
                $xls.val(xls.options[i].value).trigger("change");
                break;
            }
        }
    //最高学位下拉选择
        var $zgxws = $("#ZGXW").select2();
        var zgxws = document.getElementById("ZGXW");
        zgxws.value = $("#ZGXWTEMP").val();
        for(var i=0;i<zgxws.length;i++) {
            if (zgxws.options[i].value == $("#ZGXWTEMP").val()) {
                $zgxws.val(zgxws.options[i].value).trigger("change");
                break;
            }
        }
    //是否专任下拉选择
        var $sfzrs = $("#SFZR").select2();
        var sfzrs = document.getElementById("SFZR");
        sfzrs.value = $("#SFZRTEMP").val();
        for(var i=0;i<sfzrs.length;i++) {
            if (sfzrs.options[i].value == $("#SFZRTEMP").val()) {
                $sfzrs.val(sfzrs.options[i].value).trigger("change");
                break;
            }
        }
    //导师类型下拉选择
        var $dslxs = $("#DSLX").select2();
        var dslxs = document.getElementById("DSLX");
        dslxs.value = $("#DSLXTEMP").val();
        for(var i=0;i<dslxs.length;i++) {
            if (dslxs.options[i].value == $("#DSLXTEMP").val()) {
                $dslxs.val(dslxs.options[i].value).trigger("change");
                break;
            }
        }
    //学缘下拉选择
        var $xys = $("#XY").select2();
        var xys = document.getElementById("XY");
        xys.value = $("#XYTEMP").val();
        for(var i=0;i<xys.length;i++) {
            if (xys.options[i].value == $("#XYTEMP").val()) {
                $xys.val(xys.options[i].value).trigger("change");
                break;
            }
        }
    //地区下拉选择
        var $dqs = $("#DQ").select2();
        var dqs = document.getElementById("DQ");
        dqs.value = $("#DQTEMP").val();
        for(var i=0;i<dqs.length;i++) {
            if (dqs.options[i].value == $("#DQTEMP").val()) {
                $dqs.val(dqs.options[i].value).trigger("change");
                break;
            }
        }
    //教学效果下拉选择
        var $jxxgs = $("#JXXG").select2();
        var jxxgs = document.getElementById("JXXG");
        jxxgs.value = $("#JXXGTEMP").val();
        for(var i=0;i<jxxgs.length;i++) {
            if (jxxgs.options[i].value == $("#JXXGTEMP").val()) {
                $jxxgs.val(jxxgs.options[i].value).trigger("change");
                break;
            }
        }
    //是否双师型下拉选择
        var $sfsssxs = $("#SFWSSX").select2();
        var sfsssx = document.getElementById("SFWSSX");
        sfsssx.value = $("#SFWSSXTEMP").val();
        for(var i=0;i<sfsssx.length;i++) {
            if (sfsssx.options[i].value == $("#SFWSSXTEMP").val()) {
                $sfsssxs.val(sfsssx.options[i].value).trigger("change");
                break;
            }
        }
    //是否具有行业背景下拉选择
        var $sfjyhybjs = $("#SFJYHYBJ").select2();
        var sfjyhybjs = document.getElementById("SFJYHYBJ");
        sfjyhybjs.value = $("#SFJYHYBJTEMP").val();
        for(var i=0;i<sfjyhybjs.length;i++) {
            if (sfjyhybjs.options[i].value == $("#SFJYHYBJTEMP").val()) {
                $sfjyhybjs.val(sfjyhybjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否具有工程背景下拉选择
        var $sfjygcbjs = $("#SFJYGCBJ").select2();
        var sfjygcbjs = document.getElementById("SFJYGCBJ");
        sfjygcbjs.value = $("#SFJYGCBJTEMP").val();
        for(var i=0;i<sfjygcbjs.length;i++) {
            if (sfjygcbjs.options[i].value == $("#SFJYGCBJTEMP").val()) {
                $sfjygcbjs.val(sfjygcbjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上交身份证复印件下拉选择
        var $sfsjsfzfyjs = $("#SFSJSFZFYJ").select2();
        var sfsjsfzfyjs = document.getElementById("SFSJSFZFYJ");
        sfsjsfzfyjs.value = $("#SFSJSFZFYJTEMP").val();
        for(var i=0;i<sfsjsfzfyjs.length;i++) {
            if (sfsjsfzfyjs.options[i].value == $("#SFSJSFZFYJTEMP").val()) {
                $sfsjsfzfyjs.val(sfsjsfzfyjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上交工作证复印件下拉选择
        var $sfsjgzzfyjs = $("#SFSJGZZFYJ").select2();
        var sfsjgzzfyjs = document.getElementById("SFSJGZZFYJ");
        sfsjgzzfyjs.value = $("#SFSJGZZFYJTEMP").val();
        for(var i=0;i<sfsjgzzfyjs.length;i++) {
            if (sfsjgzzfyjs.options[i].value == $("#SFSJGZZFYJTEMP").val()) {
                $sfsjgzzfyjs.val(sfsjgzzfyjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上交教师资格证复印件下拉选择
        var $sfsjjszgzfyjs = $("#SFSJJSZGZFYJ").select2();
        var sfsjjszgzfyjs = document.getElementById("SFSJJSZGZFYJ");
        sfsjjszgzfyjs.value = $("#SFSJJSZGZFYJTEMP").val();
        for(var i=0;i<sfsjjszgzfyjs.length;i++) {
            if (sfsjjszgzfyjs.options[i].value == $("#SFSJJSZGZFYJTEMP").val()) {
                $sfsjjszgzfyjs.val(sfsjjszgzfyjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上学位证复印件下拉选择
        var $sfsjxwzfyjs = $("#SFSJXWZFYJ").select2();
        var sfsjxwzfyjs = document.getElementById("SFSJXWZFYJ");
        sfsjxwzfyjs.value = $("#SFSJXWZFYJTEMP").val();
        for(var i=0;i<sfsjxwzfyjs.length;i++) {
            if (sfsjxwzfyjs.options[i].value == $("#SFSJXWZFYJTEMP").val()) {
                $sfsjxwzfyjs.val(sfsjxwzfyjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上毕业证复印件下拉选择
        var $sfsjbyzfyjs = $("#SFSJBYZFYJ").select2();
        var sfsjbyzfyjs = document.getElementById("SFSJBYZFYJ");
        sfsjbyzfyjs.value = $("#SFSJBYZFYJTEMP").val();
        for(var i=0;i<sfsjbyzfyjs.length;i++) {
            if (sfsjbyzfyjs.options[i].value == $("#SFSJBYZFYJTEMP").val()) {
                $sfsjbyzfyjs.val(sfsjbyzfyjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上职称证复印件下拉选择
        var $sfsjzczfyjs = $("#SFSJZCZFYJ").select2();
        var sfsjzczfyjs = document.getElementById("SFSJZCZFYJ");
        sfsjzczfyjs.value = $("#SFSJZCZFYJTEMP").val();
        for(var i=0;i<sfsjzczfyjs.length;i++) {
            if (sfsjzczfyjs.options[i].value == $("#SFSJZCZFYJTEMP").val()) {
                $sfsjzczfyjs.val(sfsjzczfyjs.options[i].value).trigger("change");
                break;
            }
        }
    //是否上协议书下拉选择
        var $sfsjxys = $("#SFSJXYS").select2();
        var sfsjxys = document.getElementById("SFSJXYS");
        sfsjxys.value = $("#SFSJXYSTEMP").val();
        for(var i=0;i<sfsjxys.length;i++) {
            if (sfsjxys.options[i].value == $("#SFSJXYSTEMP").val()) {
                $sfsjxys.val(sfsjxys.options[i].value).trigger("change");
                break;
            }
        }
        //判断是否有附件
        var filePath = document.getElementById("FJ").value;
        if(filePath != ""&& filePath != "null"){
            var locArray = filePath.split("/");
            var fileNmae=locArray[locArray.length-1];
            $updatefilea = $('<a id="updatefilea" href="javascript:void(0)" onclick="aclick(\'/teacherService/download?filePath='+filePath+'\')"  ondblclick="adblclick(this)" > '+fileNmae+'</a>');
            $('#fileList').append($updatefilea);
        }
        //上传事件
            $('#file_upload_1').uploadify({
                'auto':false,//自动上传
                'uploader': '/tools/uploadFile/uploadFile.html',
                'swf': '/javascripts/uploadify3.2.1/uploadify.swf',
                'buttonText':'浏览文件',//显示在浏览按钮上的文本
                'removeTimeout':"1",//清除延迟
                'fileTypeExts' : '*.zip; *.rar; *.7z',//格式
                'folder': '/zipfiles',//上传到的文件路径
                'fileSizeLimit':'10MB',//文件大小上限
                'progressData':'percentage',//上传进度更新队列项目中显示数据的类型
                //文件上传时同时以POST方法向服务端提交一些数据
                //'method'   : 'post',
                //'formData' : { 'someKey' : 'someValue' },
                'multi': false,//多文件上传
                'onUploadSuccess'://上传完成后事件
                function (fileObj, dataObj, response) {
                    if (response == true) {
                        var fileNmae = fileObj.name;
                        var filePath = '/zipfiles/'+fileNmae;
                        //将上传的附件链接显示在附件栏中
                        $('#fileList').append('<a href="javascript:void(0)" onclick="aclick(\'/teacherService/download?filePath='+filePath+'\')"  ondblclick="adblclick(this)" > '+fileNmae+'</a>');
                        $('#fileList').append('<input id="hidfj" name="hidfj" type="hidden" value="'+filePath+'"/>&nbsp;&nbsp;&nbsp;')
                        //替换新的附件时，将老附件的链接删除
                        if(document.getElementById("updatefilea")){
                            $updatefilea.remove();
                        }
                    }
                    else {
                        alert('文件上传出错!');
                    }
                }//上传完成后事件
            });
    });

    var TimeFn = null;

    function  aclick(url){
        clearTimeout(TimeFn);
        TimeFn = setTimeout(function(){
            window.location.href=url;
        },300);
    }

    function  adblclick(_this){
        clearTimeout(TimeFn)
        var result = confirm("确认要删除？");
        if (result) {
            $(_this).next().remove();
            $(_this).remove();
            document.getElementById("FJ").value = "";
        }
    }


    function submitForm(){
        //获取服务器上的附件的值
        var filePath = document.getElementById("FJ").value;
        //如果本次修改未重新上传附件，则附件值还为原来的值
        if(typeof($('#hidfj').val()) == "undefined"){
            document.getElementById("FJ").value=filePath;
            //如果重新上传附件，则附件值为新的上传的值
        }else{
            document.getElementById("FJ").value= $('#hidfj').val();
        }
        $.ajax({
            type: "post",
            url: '/teacher/_editTeacher.html',
            dataType: "json",
            data: $('#teacherform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.result != 0) {
                    $("#modal-edit-event").modal('hide');
                }
                location.reload();
            },
            error: function (e) {
                alert("提交失败！");
                console.log(e);
            }
        });
    }
</script>