<!--引用uploadify-->
<script src="/javascripts/uploadify3.2.1/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/uploadify3.2.1/uploadify.css"/>
<style type="text/css">
    #edittable td {
        text-align: right;
        vertical-align: middle;
    }
</style>

<div class="modal-dialog" style="margin-top: 5%;width: 70%">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">教师信息编辑</h4>
        </div>

        <div class="modal-body">
            <div class="box">
                <!-- box-body -->
                <div class="box-body">
                    <form id="teacherform" method="post" action="teacher/_editTeacher.html">
                        <input id="ID" name="ID" type="hidden" class="form-control" value="<%= id %>">
                        <table id="edittable" class="table table-bordered">
                            <tr></tr>
                            <tr>
                                <td><span style="color: red;font-size: 20px">*</span>&nbsp; 姓名</td>
                                <td><input id="XM" name="XM" type="text" class="form-control" value="<%= xm %>">
                                    <input id="TXM" type="hidden" class="form-control" value="">
                                </td>
                                <td>工号</td>
                                <td><input id="GH" name="GH" type="text" class="form-control" value="<%= gh %>"></td>
                                <td>性别</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="XB" name="XB" style="width: 100%;">
                                        <option value="">请选择</option>
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                    <input id="XBTEMP" name="XBTEMP" type="hidden" value="<%= xb %>">
                                </td>
                            </tr>
                            <tr>
                                <td>出生年月</td>
                                <td><input id="CSNY" name="CSNY" type="text" class="form-control"
                                           placeholder="格式如：1980.10" value="<%= csny %>"></td>
                                <td>民族</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="MZ" name="MZ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="汉族">汉族</option>
                                        <option value="壮族">壮族</option>
                                        <option value="满族">满族</option>
                                        <option value="回族">回族</option>
                                        <option value="其他">其他</option>
                                    </select>
                                    <input id="MZTEMP" name="MZTEMP" type="hidden" value="<%= mz %>">
                                </td>
                                <td>身份证号码</td>
                                <td><input id="SFZHM" name="SFZHM" type="text" class="form-control"
                                           value="<%= sfzhm %>"></td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td><input id="LXDH" name="LXDH" type="text" class="form-control" value="<%= lxdh %>">
                                </td>
                                <td>所属教研室</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="JYSMC" name="JYSMC" style="width: 100%">
                                        <option value="">请选择</option>
                                        <%- jysStr %>
                                    </select>
                                    <input id="JYSMCTEMP" name="JYSMCTEMP" type="hidden" value="<%= jysmc %>">
                                </td>
                                <td>入校时间</td>
                                <td><input id="RXSJ" name="RXSJ" type="text" class="form-control"
                                           placeholder="格式如：2005.09.09" value="<%= rxsj %>"></td>
                            </tr>
                            <tr>
                                <td>分管负责人</td>
                                <td><input id="FGFZR" name="FGFZR" type="text" class="form-control"
                                           value="<%= fgfzr %>">
                                    <input id="FZRSF" name="FZRSF" type="hidden" class="form-control" value="">
                                </td>
                                <td>定职时间</td>
                                <td><input id="DZSJ" name="DZSJ" type="text" class="form-control"
                                           placeholder="格式如：2005.09.09" value="<%= dzsj %>"></td>
                                <td>任职状态</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="RZZT" name="RZZT" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>在职</option>
                                        <option>离职</option>
                                    </select>
                                    <input id="RZZTTEMP" name="RZZTTEMP" type="hidden" value="<%= rzzt %>">
                                </td>
                            </tr>
                            <tr>
                                <td>单位号</td>
                                <td><input id="DWH" name="DWH" type="text" class="form-control" value="<%= dwh %>"></td>
                                <td>单位名称</td>
                                <td><input id="DWMC" name="DWMC" type="text" class="form-control" value="<%= dwmc %>">
                                </td>
                                <td>工作单位类别</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="GZDWLB" name="GZDWLB" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>行政单位</option>
                                        <option>科研单位</option>
                                        <option>高等学校</option>
                                        <option>其他事业单位</option>
                                        <option>企业公司</option>
                                        <option>部队及其他单位</option>
                                        <option>其他</option>
                                    </select>
                                    <input id="GZDWLBTEMP" name="GZDWLBTEMP" type="hidden" value="<%= gzdwlb %>">
                                </td>
                            </tr>
                            <tr>
                                <td>学历</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="XL" name="XL" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>博士研究生</option>
                                        <option>硕士研究生</option>
                                        <option>本科</option>
                                        <option>专科及以下</option>
                                    </select>
                                    <input id="XLTEMP" name="XLTEMP" type="hidden" value="<%= xl %>">
                                </td>
                                <td>最高学位</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="ZGXW" name="ZGXW" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>博士</option>
                                        <option>硕士</option>
                                        <option>学士</option>
                                        <option>无学位</option>
                                    </select>
                                    <input id="ZGXWTEMP" name="ZGXWTEMP" type="hidden" value="<%= zgxw %>">
                                </td>
                                <td><span style="color: red;font-size: 20px">*</span>&nbsp; 是否专任</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="SFZR" name="SFZR" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>是</option>
                                        <option>否</option>
                                    </select>
                                    <input id="SFZRTEMP" name="SFZRTEMP" type="hidden" value="<%= sfzr %>">
                                </td>
                            </tr>
                            <tr>
                                <td>毕业时间</td>
                                <td><input id="BYSJ" name="BYSJ" type="text" class="form-control"
                                           placeholder="格式如：1990.07.02" value="<%= bysj %>"></td>
                                <td>毕业院校</td>
                                <td><input id="BYYX" name="BYYX" type="text" class="form-control" value="<%= byyx %>">
                                </td>
                                <td>学缘</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="XY" name="XY" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>本校</option>
                                        <option>外校（境内）</option>
                                        <option>外校（境外）</option>
                                    </select>
                                    <input id="XYTEMP" name="XYTEMP" type="hidden" value="<%= xy %>">
                                </td>
                            </tr>
                            <tr>
                                <td>专业技术职称</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="ZYJSZC" name="ZYJSZC" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="教授">教授</option>
                                        <option value="副教授">副教授</option>
                                        <option value="讲师">讲师</option>
                                        <option value="助教">助教</option>
                                        <option value="其他正高级">其他正高级</option>
                                        <option value="其他副高级">其他副高级</option>
                                        <option value="其他中级">其他中级</option>
                                        <option value="其他初级">其他初级</option>
                                        <option value="未评级">未评级</option>
                                    </select>
                                    <input id="ZYJSZCTEMP" name="ZYJSZCTEMP" type="hidden" value="<%= zyjszc %>">
                                </td>
                                <td>学科类别</td>
                                <td><input id="XKLB" name="XKLB" type="text" class="form-control" value="<%= xklb %>">
                                </td>
                                <td>导师类型</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="DSLX" name="DSLX" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>博士、硕士导师</option>
                                        <option>博士导师</option>
                                        <option>硕士导师</option>
                                        <option>无</option>
                                    </select>
                                    <input id="DSLXTEMP" name="DSLXTEMP" type="hidden" value="<%= dslx %>">
                                </td>
                            </tr>
                            <tr>
                                <td>地区<br>（受聘前工作所在地）</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="DQ" name="DQ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>境内</option>
                                        <option>境外（国外及港澳台）</option>
                                    </select>
                                    <input id="DQTEMP" name="DQTEMP" type="hidden" value="<%= dq %>">
                                </td>
                                <td>教学效果</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="JXXG" name="JXXG" style="width: 100%">
                                        <option value="一般">请选择</option>
                                        <option value="优秀">优秀</option>
                                        <option value="良好">良好</option>
                                        <option value="一般">一般</option>
                                        <option value="差">差</option>
                                    </select>
                                    <input id="JXXGTEMP" name="JXXGTEMP" type="hidden" value="<%= jxxg %>">
                                </td>
                                <td>初始代课时间</td>
                                <td><input id="CSDKSJ" name="CSDKSJ" type="text" class="form-control"
                                           placeholder="格式如：2005.09.09" value="<%= csdksj %>"></td>
                            </tr>
                            <tr>
                                <td>可授课程</td>
                                <td colspan="4"><textarea id="KSKC" name="KSKC" type="text" class="form-control"
                                                          style="height:3.5rem;"><%= kskc %></textarea></td>
                            </tr>
                            <tr>
                                <td>是否为双师型</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFWSSX" name="SFWSSX" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFWSSXTEMP" name="SFWSSXTEMP" type="hidden" value="<%= sfwssx %>">
                                </td>
                                <td>是否具有工程背景</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFJYGCBJ" name="SFJYGCBJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFJYGCBJTEMP" name="SFJYGCBJTEMP" type="hidden" value="<%= sfjygcbj %>">
                                </td>
                                <td>是否具有行业背景</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFJYHYBJ" name="SFJYHYBJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFJYHYBJTEMP" name="SFJYHYBJTEMP" type="hidden" value="<%= sfjyhybj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否上交身份证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJSFZFYJ" name="SFSJSFZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJSFZFYJTEMP" name="SFSJSFZFYJTEMP" type="hidden"
                                           value="<%= sfsjsfzfyj %>">
                                </td>
                                <td>是否上交工作证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJGZZFYJ" name="SFSJGZZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJGZZFYJTEMP" name="SFSJGZZFYJTEMP" type="hidden"
                                           value="<%= sfsjgzzfyj %>">
                                </td>
                                <td>是否上交教师资格证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJJSZGZFYJ" name="SFSJJSZGZFYJ"
                                            style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJJSZGZFYJTEMP" name="SFSJJSZGZFYJTEMP" type="hidden"
                                           value="<%= sfsjjszgzfyj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否上交学位证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJXWZFYJ" name="SFSJXWZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJXWZFYJTEMP" name="SFSJXWZFYJTEMP" type="hidden"
                                           value="<%= sfsjxwzfyj %>">
                                </td>
                                <td>是否上交毕业证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJBYZFYJ" name="SFSJBYZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJBYZFYJTEMP" name="SFSJBYZFYJTEMP" type="hidden"
                                           value="<%= sfsjbyzfyj %>">
                                </td>
                                <td>是否上交职称证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJZCZFYJ" name="SFSJZCZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJZCZFYJTEMP" name="SFSJZCZFYJTEMP" type="hidden"
                                           value="<%= sfsjzczfyj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否上交协议书</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJXYS" name="SFSJXYS" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJXYSTEMP" name="SFSJXYSTEMP" type="hidden" value="<%= sfsjxys %>">
                                </td>
                                <td>附件
                                    <input id="FJ" name="FJ" type="hidden" value="<%= fj %>"/></td>
                                <td><span id="fileList"></span></td>
                                <td>上传附件
                                </td>
                                <td style="text-align: left ">
                                    <div>
                                        <div id="file_upload_1"></div>
                                        <a href="javascript:$('#file_upload_1').uploadify('upload','*');">
                                            确认上传
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="text-align:center;margin: auto">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">提交</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        if ($("#ID").val() > 0) {
            $('#XM').attr("disabled", true);
        }
        $("#XB").val($("#XBTEMP").val());
        $("#MZ").val($("#MZTEMP").val());
        $("#JYSMC").val($("#JYSMCTEMP").val());
        $("#ZYJSZC").val($("#ZYJSZCTEMP").val());
        $("#RZZT").val($("#RZZTTEMP").val());
        $("#GZDWLB").val($("#GZDWLBTEMP").val());
        $("#XL").val($("#XLTEMP").val());
        $("#ZGXW").val($("#ZGXWTEMP").val());
        $("#SFZR").val($("#SFZRTEMP").val());
        $("#DSLX").val($("#DSLXTEMP").val());
        $("#XY").val($("#XYTEMP").val());
        $("#DQ").val($("#DQTEMP").val());
        $("#JXXG").val($("#JXXGTEMP").val());
        $("#SFWSSX").val($("#SFWSSXTEMP").val());
        $("#SFJYHYBJ").val($("#SFJYHYBJTEMP").val());
        $("#SFJYGCBJ").val($("#SFJYGCBJTEMP").val());
        $("#SFSJSFZFYJ").val($("#SFSJSFZFYJTEMP").val());
        $("#SFSJGZZFYJ").val($("#SFSJGZZFYJTEMP").val());
        $("#SFSJJSZGZFYJ").val($("#SFSJJSZGZFYJTEMP").val());
        $("#SFSJXWZFYJ").val($("#SFSJXWZFYJTEMP").val());
        $("#SFSJBYZFYJ").val($("#SFSJBYZFYJTEMP").val());
        $("#SFSJZCZFYJ").val($("#SFSJZCZFYJTEMP").val());
        $("#SFSJXYS").val($("#SFSJXYSTEMP").val());

        //判断是否有附件
        var filePath = document.getElementById("FJ").value;
        if (filePath != "" && filePath != "null") {
            var locArray = filePath.split("/");
            var fileNmae = locArray[locArray.length - 1];
            $updatefilea = $('<a id="updatefilea" href="javascript:void(0)" onclick="aclick(\'/teacherService/download?filePath=' + filePath + '\')"  ondblclick="adblclick(this)" > ' + fileNmae + '</a>');
            $('#fileList').append($updatefilea);
        }
        //上传事件
        $('#file_upload_1').uploadify({
            'auto': false,//自动上传
            'uploader': '/tools/uploadFile/uploadFile.html',
            'swf': '/javascripts/uploadify3.2.1/uploadify.swf',
            'buttonText': '浏览文件',//显示在浏览按钮上的文本
            'removeTimeout': "1",//清除延迟
            'fileTypeExts': '*.zip; *.rar; *.7z',//格式
            'folder': '/zipfiles',//上传到的文件路径
            'fileSizeLimit': '10MB',//文件大小上限
            'progressData': 'percentage',//上传进度更新队列项目中显示数据的类型
            //文件上传时同时以POST方法向服务端提交一些数据
            //'method'   : 'post',
            //'formData' : { 'someKey' : 'someValue' },
            'multi': false,//多文件上传
            'onUploadSuccess'://上传完成后事件
                function (fileObj, dataObj, response) {
                    if (response == true) {
                        var fileNmae = fileObj.name;
                        var filePath = '/zipfiles/' + fileNmae;
                        //将上传的附件链接显示在附件栏中
                        $('#fileList').append('<a href="javascript:void(0)" onclick="aclick(\'/teacherService/download?filePath=' + filePath + '\')"  ondblclick="adblclick(this)" > ' + fileNmae + '</a>');
                        $('#fileList').append('<input id="hidfj" name="hidfj" type="hidden" value="' + filePath + '"/>&nbsp;&nbsp;&nbsp;')
                        //替换新的附件时，将老附件的链接删除
                        if (document.getElementById("updatefilea")) {
                            $updatefilea.remove();
                        }
                    }
                    else {
                        alert('文件上传出错!');
                    }
                }//上传完成后事件
        });
    });

    var TimeFn = null;

    function aclick(url) {
        clearTimeout(TimeFn);
        TimeFn = setTimeout(function () {
            window.location.href = url;
        }, 300);
    }

    function adblclick(_this) {
        clearTimeout(TimeFn)
        var result = confirm("确认要删除？");
        if (result) {
            $(_this).next().remove();
            $(_this).remove();
            document.getElementById("FJ").value = "";
        }
    }


    function submitForm() {
        var verge = true;
        var regCSNY = /[12]\d{3}.?(?:0[1-9]|1[0-2])$/;
        var regSFZHM = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
        var regSJH = /^[1][358][0-9]{9}$/;
        var regGH = /([0-9]{3,4}-)?[0-9]{7,8}/;
        var regRXSJ = /^((?:19|20)\d\d).(0[1-9]|1[012]).(0[1-9]|[12][0-9]|3[01])$/;
        var valID = $("#ID").val();
        if ($('#XM').val() == "") {
            alert("姓名不能为空");
            var verge = false;
        } else if ($('#SFZR').val() == "") {
            alert("是否专任不能为空");
            var verge = false;
        } else if ($('#CSNY').val() != "" && !regCSNY.test($('#CSNY').val())) {
            alert("出生年月格式不正确，如：1980.12");
            var verge = false;
        } else if ($('#SFZHM').val() != "" && !regSFZHM.test($('#SFZHM').val())) {
            alert("身份证格式不正确，请仔细检查");
            var verge = false;
        } else if (!(regSJH.test($('#LXDH').val()) || regGH.test($('#LXDH').val()))) {
            alert("联系电话格式或位数不正确，若固话：xxxx-xxxxxxx 或 （无区号）xxxxxxx");
            var verge = false;
        } else if ($('#RXSJ').val() != "" && !(regRXSJ.test($('#RXSJ').val()))) {
            alert("入校时间格式不正确，如：2005.09.09");
            var verge = false;
        } else if ($('#DZSJ').val() != "" && !regRXSJ.test($('#DZSJ').val())) {
            alert("定职时间格式不正确，如：2005.09.09");
            var verge = false;
        } else if ($('#RXSJ').val() != "" && !(regRXSJ.test($('#RXSJ').val()))) {
            alert("毕业时间格式不正确，如：2001.07.02");
            var verge = false;
        } else if ($('#CSDKSJ').val() != "" && !(regRXSJ.test($('#CSDKSJ').val()))) {
            alert("初始代课时间格式不正确，如：2005.09.09");
            var verge = false;
        }
        if (verge && valID == 0) {
            getNAME($('#XM').val());
            if ($('#TXM').val() == "exi") {
                alert("此教师已存在，请仔细检查重新填写");
                var verge = false;
            }
        }
        if (verge && valID == 0) {
            getNAME($('#XM').val());
            if ($('#TXM').val() == "exi") {
                alert("此教师已存在，请仔细检查重新填写");
                var verge = false;
            }
        }
        if (verge) {
            getFZR($('#FGFZR').val());
            if ($('#FZRSF').val() == "否" || $('#FZRSF').val() == "无") {
                alert("此教师不存在 或 非专任教师，请重新填写");
                var verge = false;
            }
        }
        if (verge) {
            //获取服务器上的附件的值
            var filePath = document.getElementById("FJ").value;
            //如果本次修改未重新上传附件，则附件值还为原来的值
            if (typeof($('#hidfj').val()) == "undefined") {
                document.getElementById("FJ").value = filePath;
                //如果重新上传附件，则附件值为新的上传的值
            } else {
                document.getElementById("FJ").value = $('#hidfj').val();
            }
            $.ajax({
                type: "post",
                url: '/teacher/_editTeacher.html',
                dataType: "json",
                data: $('#teacherform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
                async: false,
                cache: true,
                success: function (msg) {
                    if (msg.result != 0) {
                        $("#modal-edit-event").modal('hide');
                    }
                    location.reload();
                },
                error: function (e) {
                    alert("提交失败！");
                    console.log(e);
                }
            });
        }
    }

    function getNAME(tname) {//判断姓名和是否重复
        $.ajax({
            type: "post",
            url: '/teacherService/getNAME',
            dataType: "json",
            data: {TNAME: tname},
            async: false,
            cache: true,
            success: function (msg) {
                console.log(msg);
                if (msg.aaData[0]) {
                    if (msg.aaData[0]['ID'] > 0) {
                        $('#TXM').val("exi");
                    }
                } else {
                    $('#TXM').val("unexi");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function getFZR(tname) {//判断分管负责人
        $.ajax({
            type: "post",
            url: '/teacherService/getFZR',
            dataType: "json",
            data: {TNAME: tname},
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.aaData[0]) {
                    if (msg.aaData[0]['SFZR'] == "是") {
                        $('#FZRSF').val("是");
                    } else if (msg.aaData[0]['SFZR'] == "否") {
                        $('#FZRSF').val("否");
                    }
                } else {
                    $('#FZRSF').val("无");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

</script>