<link href="/javascripts/uploadify3.2.1/uploadify.css"/>
<link rel="stylesheet" href="/css/editteacher.css">

<div class="modal-dialog">
    <div class="modal-content edit-modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">教师信息编辑</h4>
        </div>
        <div class="modal-body">
            <div class="box" style="margin-bottom: 0px">
                <div class="box-body">
                    <form id="teacherform">
                        <input id="ID" name="ID" type="hidden" class="form-control" value="<%= id %>">
                        <table id="edittable" class="table table-bordered" style="margin-bottom: 0px;">
                            <tr>
                                <td><span class="mi">*</span>&nbsp; 姓名</td>
                                <td><input id="XM" name="XM" type="text" class="form-control" value="<%= xm %>"></td>
                                <td>工号</td>
                                <td><input id="GH" name="GH" type="text" class="form-control" value="<%= gh %>"></td>
                                <td>性别</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="XB" name="XB" style="width: 100%;">
                                        <option value="">请选择</option>
                                        <option>男</option>
                                        <option>女</option>
                                    </select>
                                    <input id="XBTEMP" name="XBTEMP" type="hidden" value="<%= xb %>">
                                </td>
                            </tr>
                            <tr>
                                <td>出生年月</td>
                                <td><input id="CSNY" name="CSNY" type="text" class="form-control" placeholder="1980.10" value="<%= csny %>"></td>
                                <td>民族</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="MZ" name="MZ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="汉族">汉族</option>
                                        <option value="壮族">壮族</option>
                                        <option value="满族">满族</option>
                                        <option value="回族">回族</option>
                                        <option value="其他">其他</option>
                                    </select>
                                    <input id="MZTEMP" name="MZTEMP" type="hidden" value="<%= mz %>">
                                </td>
                                <td>身份证号码</td>
                                <td><input id="SFZHM" name="SFZHM" type="text" class="form-control" value="<%= sfzhm %>"></td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td><input id="LXDH" name="LXDH" type="text" class="form-control" value="<%= lxdh %>" placeholder="手机 或 固话">
                                </td>
                                <td>所属教研室</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="JYSMC" name="JYSMC" style="width: 100%">
                                        <option value="">请选择</option>
                                        <%- jysStr %>
                                    </select>
                                    <input id="JYSMCTEMP" name="JYSMCTEMP" type="hidden" value="<%= jysmc %>">
                                </td>
                                <td>入校时间</td>
                                <td><input id="RXSJ" name="RXSJ" type="text" class="form-control" placeholder="2005.09.09" value="<%= rxsj %>"></td>
                            </tr>
                            <tr>
                                <td>分管负责人</td>
                                <td><input id="FGFZR" name="FGFZR" type="text" class="form-control"  value="<%= fgfzr %>">
                                </td>
                                <td>定职时间</td>
                                <td><input id="DZSJ" name="DZSJ" type="text" class="form-control" placeholder="2005.09.09" value="<%= dzsj %>"></td>
                                <td>任职状态</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="RZZT" name="RZZT" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>在职</option>
                                        <option>离职</option>
                                    </select>
                                    <input id="RZZTTEMP" name="RZZTTEMP" type="hidden" value="<%= rzzt %>">
                                </td>
                            </tr>
                            <tr>
                                <td>单位号</td>
                                <td><input id="DWH" name="DWH" type="text" class="form-control" value="<%= dwh %>"></td>
                                <td>单位名称</td>
                                <td><input id="DWMC" name="DWMC" type="text" class="form-control" value="<%= dwmc %>">
                                </td>
                                <td>工作单位类别</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="GZDWLB" name="GZDWLB" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>行政单位</option>
                                        <option>科研单位</option>
                                        <option>高等学校</option>
                                        <option>其他事业单位</option>
                                        <option>企业公司</option>
                                        <option>部队及其他单位</option>
                                        <option>其他</option>
                                    </select>
                                    <input id="GZDWLBTEMP" name="GZDWLBTEMP" type="hidden" value="<%= gzdwlb %>">
                                </td>
                            </tr>
                            <tr>
                                <td>学历</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="XL" name="XL" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>博士研究生</option>
                                        <option>硕士研究生</option>
                                        <option>本科</option>
                                        <option>专科及以下</option>
                                    </select>
                                    <input id="XLTEMP" name="XLTEMP" type="hidden" value="<%= xl %>">
                                </td>
                                <td>最高学位</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="ZGXW" name="ZGXW" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>博士</option>
                                        <option>硕士</option>
                                        <option>学士</option>
                                        <option>无学位</option>
                                    </select>
                                    <input id="ZGXWTEMP" name="ZGXWTEMP" type="hidden" value="<%= zgxw %>">
                                </td>
                                <td><span class="mi">*</span>&nbsp; 是否专任</td>
                                <td style="text-align: left;">
                                    <select class="form-control" id="SFZR" name="SFZR" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="学院教师">学院教师</option>
                                        <option value="大校教师">大校教师</option>
                                        <option value="其他高校教师（有教师资格证）">其他高校教师（有教师资格证）</option>
                                        <option value="实习机构">实习机构</option>
                                        <option value="其他人员">其他人员</option>
                                    </select>
                                    <input id="SFZRTEMP" name="SFZRTEMP" type="hidden" value="<%= sfzr %>">
                                </td>
                            </tr>
                            <tr>
                                <td>毕业时间</td>
                                <td><input id="BYSJ" name="BYSJ" type="text" class="form-control" placeholder="1990.07.02" value="<%= bysj %>"></td>
                                <td>毕业院校</td>
                                <td><input id="BYYX" name="BYYX" type="text" class="form-control" value="<%= byyx %>">
                                </td>
                                <td>学缘</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="XY" name="XY" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>本校</option>
                                        <option>外校（境内）</option>
                                        <option>外校（境外）</option>
                                    </select>
                                    <input id="XYTEMP" name="XYTEMP" type="hidden" value="<%= xy %>">
                                </td>
                            </tr>
                            <tr>
                                <td>专业技术职称</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="ZYJSZC" name="ZYJSZC" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="教授">教授</option>
                                        <option value="副教授">副教授</option>
                                        <option value="讲师">讲师</option>
                                        <option value="助教">助教</option>
                                        <option value="其他正高级">其他正高级</option>
                                        <option value="其他副高级">其他副高级</option>
                                        <option value="其他中级">其他中级</option>
                                        <option value="其他初级">其他初级</option>
                                        <option value="未评级">未评级</option>
                                    </select>
                                    <input id="ZYJSZCTEMP" name="ZYJSZCTEMP" type="hidden" value="<%= zyjszc %>">
                                </td>
                                <td>学科类别</td>
                                <td><input id="XKLB" name="XKLB" type="text" class="form-control" value="<%= xklb %>">
                                </td>
                                <td>导师类型</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="DSLX" name="DSLX" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>博士、硕士导师</option>
                                        <option>博士导师</option>
                                        <option>硕士导师</option>
                                        <option>无</option>
                                    </select>
                                    <input id="DSLXTEMP" name="DSLXTEMP" type="hidden" value="<%= dslx %>">
                                </td>
                            </tr>
                            <tr>
                                <td>地区<br>（受聘前工作所在地）</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="DQ" name="DQ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option>境内</option>
                                        <option>境外（国外及港澳台）</option>
                                    </select>
                                    <input id="DQTEMP" name="DQTEMP" type="hidden" value="<%= dq %>">
                                </td>
                                <td>教学效果</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="JXXG" name="JXXG" style="width: 100%">
                                        <option value="一般">请选择</option>
                                        <option value="优秀">优秀</option>
                                        <option value="良好">良好</option>
                                        <option value="一般">一般</option>
                                        <option value="差">差</option>
                                    </select>
                                    <input id="JXXGTEMP" name="JXXGTEMP" type="hidden" value="<%= jxxg %>">
                                </td>
                                <td>初始代课时间</td>
                                <td><input id="CSDKSJ" name="CSDKSJ" type="text" class="form-control" placeholder="2005.09.09" value="<%= csdksj %>"></td>
                            </tr>
                            <tr>
                                <td>可授课程</td>
                                <td colspan="4"><textarea id="KSKC" name="KSKC" type="text" class="form-control" style="height:3.5rem;"><%= kskc %></textarea></td>
                            </tr>
                            <tr>
                                <td>是否为双师型</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFWSSX" name="SFWSSX" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFWSSXTEMP" name="SFWSSXTEMP" type="hidden" value="<%= sfwssx %>">
                                </td>
                                <td>是否具有工程背景</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFJYGCBJ" name="SFJYGCBJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFJYGCBJTEMP" name="SFJYGCBJTEMP" type="hidden" value="<%= sfjygcbj %>">
                                </td>
                                <td>是否具有行业背景</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFJYHYBJ" name="SFJYHYBJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFJYHYBJTEMP" name="SFJYHYBJTEMP" type="hidden" value="<%= sfjyhybj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否上交身份证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJSFZFYJ" name="SFSJSFZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJSFZFYJTEMP" name="SFSJSFZFYJTEMP" type="hidden" value="<%= sfsjsfzfyj %>">
                                </td>
                                <td>是否上交工作证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJGZZFYJ" name="SFSJGZZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJGZZFYJTEMP" name="SFSJGZZFYJTEMP" type="hidden" value="<%= sfsjgzzfyj %>">
                                </td>
                                <td>是否上交教师资格证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJJSZGZFYJ" name="SFSJJSZGZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJJSZGZFYJTEMP" name="SFSJJSZGZFYJTEMP" type="hidden" value="<%= sfsjjszgzfyj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否上交学位证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJXWZFYJ" name="SFSJXWZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJXWZFYJTEMP" name="SFSJXWZFYJTEMP" type="hidden" value="<%= sfsjxwzfyj %>">
                                </td>
                                <td>是否上交毕业证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJBYZFYJ" name="SFSJBYZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJBYZFYJTEMP" name="SFSJBYZFYJTEMP" type="hidden" value="<%= sfsjbyzfyj %>">
                                </td>
                                <td>是否上交职称证复印件</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJZCZFYJ" name="SFSJZCZFYJ" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJZCZFYJTEMP" name="SFSJZCZFYJTEMP" type="hidden" value="<%= sfsjzczfyj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否上交协议书</td>
                                <td style="text-align: left;">
                                    <select class="form-control " id="SFSJXYS" name="SFSJXYS" style="width: 100%">
                                        <option value="">请选择</option>
                                        <option value="有">是</option>
                                        <option value="无">否</option>
                                    </select>
                                    <input id="SFSJXYSTEMP" name="SFSJXYSTEMP" type="hidden" value="<%= sfsjxys %>">
                                </td>
                                <td>附件
                                    <input id="FJ" name="FJ" type="hidden" value="<%= fj %>"/>
                                </td>
                                <td style="text-align:left;">
                                    <span id="fileList"></span>
                                </td>
                                <td>上传附件</td>
                                <td style="text-align: left;">
                                    <div id="upload_append"></div>
                                    <a id="goto_upload" href="javascript:$('#upload_append').uploadify('upload','*');">确认上传</a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">提交</button>
        </div>
    </div>
</div>

<script src="/javascripts/uploadify3.2.1/jquery.uploadify.js"></script>
<script src="/javascripts/editteacher.js"></script>
