<style type="text/css">
    .form-control{
        height: 28px;
        padding: 3px;
        font-size: 14px;
        vertical-align: middle;
    }
    .modal-footer{
        text-align:center;
        margin: auto;
        padding:10px 10px;
    } 
    .modal-footer button{
        padding: 5px 10px;
        width: 70px;
        height: 28px;
        line-height: 15px;
    }
</style>
<div class="modal-dialog" style="margin-top: 150px">
    <div class="modal-content" style="width:80%;margin:0 auto">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">专业信息编辑</h4>
        </div>
        <div class="modal-body" style="padding-bottom:0px">
            <form id="myform">
                <input id="ID" name="ID" type="hidden" class="form-control" value="<%= id %>">
                <div class="box-body">
                    <div class="form-group">
                        <label>专业编号</label>
                        <input id="ZYBH" name="ZYBH" type="text" class="form-control" value="<%= zybh %>">
                    </div>
                    <div class="form-group">
                        <label>专业名称</label>
                        <input id="ZYMC" name="ZYMC" type="text" class="form-control" value="<%= zymc %>">
                    </div>
                    <div class="form-group">
                        <label>所属教研室</label>
                        <select id="SSJYS" name="SSJYS" class="form-control">
                            <%- ssjysmc %>
                        </select>
                        <input id="TEMP" name="TEMP" type="hidden" class="form-control" value="<%= ssjys %>">
                    </div>
                    <div class="form-group">
                        <label>开设年级</label>
                        <input id="KSNJ" name="KSNJ" type="text" class="form-control" value="<%= ksnj %>" placeholder="如：2015级">
                    </div>
                    <div class="form-group">
                        <label>班级个数</label>
                        <input id="BJGS" name="BJGS" type="text" class="form-control" value="<%= bjgs %>" placeholder="如：60">
                    </div>
                    <div class="form-group">
                        <label>各班大约人数</label>
                        <input id="GBDYRS" name="GBDYRS" type="text" class="form-control" value="<%= gbdyrs %>" placeholder="如：2">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">提交</button>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#SSJYS").val($("#TEMP").val());
    });

    function submitForm() {
        var verge = true;
        if ($('#ZYBH').val() == "") {
            $("#warning_content").text("专业编号不能为空");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if ($('#ZYMC').val() == "") {
            $("#warning_content").text("专业名称不能为空");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if ($('#SSJYS').val() == null) {
            $("#warning_content").text("所属教研室不能为空");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if ($('#KSNJ').val() == "") {
            $("#warning_content").text("开设年级不能为空");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if (!/^[0-9]*级$/.test($('#KSNJ').val())) {
            $("#warning_content").text("开设年级格式错误");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if ($('#BJGS').val() == "") {
            $("#warning_content").text("班级个数不能为空");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if (!/^[0-9]*$/.test($('#BJGS').val())) {
            $("#warning_content").text("班级个数格式错误");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if ($('#GBDYRS').val() == "") {
            $("#warning_content").text("各班大约人数不能为空");
            $("#warning_modal").modal("show");
            var verge = false;
        } else if (!/^[0-9]*$/.test($('#GBDYRS').val())) {
            $("#warning_content").text("各班大约人数格式错误");
            $("#warning_modal").modal("show");
            var verge = false;
        } 
        if (verge) {
            $.ajax({
                type: "post",
                url: '/major/_editMajor.html',
                dataType: "json",
                data: $('#myform').serialize(),
                async: false,
                cache: true,
                success: function (msg) {
                    if (msg.result != 0) {
                        var table = $('#datatable').DataTable();
                        table.ajax.reload();
                        table.draw();		
                        $("#success_modal").modal();
                        setTimeout(function(){			
                            $("#success_modal").modal('hide');
                        },1000);
                        $("#modal-edit-event").modal('hide');
                    } else {
                        $("#faile_modal").modal();
                        setTimeout(function(){					
                            $("#faile_modal").modal('hide');
                        },1000);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }
</script>