<style type="text/css">
    #xgtable td {
        padding: 8px;

    }
</style>
<div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">选课/修改</h4>
        </div>
        <div class="modal-body">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" id="Ttitle">选课</h3>
                    <div class="box-tools">
                        <ul class="pagination pagination-centered no-margin pull-right">
                            <li><a id="hidenxg" href="#" onclick="hidenxg()">选课</a></li>
                            <li><a id="hidenxk" href="#" onclick="hidenxk(),getXk()">修改</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 选课table -->
                <div id="xkdiv" class="box-body no-padding">
                    <form id="xkform">
                        <input id="KCID" name="KCID" type="hidden" value="<%= kcid %>">
                        <input id="JSID" name="JSID" type="hidden" value="<%= jsid %>">
                        <input id="JSMCX" name="JSMCX" type="hidden" value="<%= jsmc %>">
                        <input id="CZR" name="CZR" type="hidden" value="<%= jsmc %>">
                        <input id="SUR" name="SUR" type="hidden" value="<%= sur %>">
                        <input id="JSKCID" name="JSKCID" type="hidden" value="">
                        <table id="xktable" class="table">
                            <tr>
                                <th style="width: 20%">头数</th>
                                <th style="width: 25%">教师姓名</th>
                                <th style="width: 35%">备注</th>
                                <th style="width: 10%"></th>
                                <th style='width: 10%'></th>
                            </tr>
                            <tr>
                                <td><input id="XZTS" name="XZTS" type="number" min="1" max="<%= sur %>"
                                           class="form-control" value="<%= xzts %>"></td>
                                <td><input id="JSMC" name="JSMC" type="text" class="form-control" value="<%= jsmc %>">
                                </td>
                                <td><input id="BZ" name="BZ" type="text" class="form-control" value="<%= bz %>"
                                           placeholder="（代选老师请备注）"></td>
                                <td>
                                    <button id="btn1" clicked="0" type="button" class="btn btn-primary"
                                            onclick="submitxkForm();">选课
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <!-- 修改table -->
                <div id="xgdiv" class="box-body no-padding">
                    <form id="xgform">
                        <input id="JSIDXG" name="JSIDXG" type="hidden" value="<%= jsidxg %>">
                        <input id="KCIDXG" name="KCIDXG" type="hidden" value="<%= kcidxg %>">
                        <table id="xgtable" class="table">
                            <!-- 动态生成表格 -->
                        </table>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload()">关闭</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<!-- 获取登录用户信息js-->
<script src="/javascripts/header.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/AdminLTE/plugins/iCheck/icheck.min.js"></script>

<script>
    $(function () {
        $("#xgdiv").hide();
        $("#hidenxg").attr("style", "background-color: #eee");
        if ($("#SUR").val() == 0) {
            $("#xktable").html("<tr><th>已经不能选课咯</th></tr><tr></tr>");
        }
        $(".close").click(function () {
            location.reload();
        });
    });
    function hidenxk() {
        if ($("#xkdiv").is(":visible")) {
            $("#xkdiv").hide();
            $("#xgdiv").show();
            $("#Ttitle").text("修改");
            $("#hidenxk").attr("style", "background-color: #eee");
            $("#hidenxg").attr("style", "");
        }
    }
    function hidenxg() {
        if ($("#xgdiv").is(":visible")) {
            $("#xgdiv").hide();
            $("#xkdiv").show();
            $("#Ttitle").text("选课");
            $("#hidenxg").attr("style", "background-color: #eee");
            $("#hidenxk").attr("style", "");

        }
    }
    //A1提交选课表单
    function submitxkForm() {
        if ($("#XZTS").val() == '' || $("#XZTS").val() == 0) {
            alert("头数不能为空");
        }
        else if (parseInt($("#XZTS").val()) > parseInt($("#SUR").val())) {
            alert("超出剩余头数");
        }
        else {
            var btn = $("#btn1");//按钮提交控制
            if (btn.attr("clicked") == "0") {//执行点击
                //提交操作先请求教师的id
                var XM = $("#JSMC").val();
                var CZR = $("#CZR").val();
                $.ajax({
                    type: "get",
                    url: '/teacherService/getTidByMc',
                    dataType: "json",
                    data: {XM: XM},
                    async: false,
                    cache: true,
                    success: function (jsmsg) {
                        if (jsmsg.aaData.length == "") {//没有这名教师的信息添加一个
                            var result = confirm("没有此教师信息，是否将此记录加入库中，并添加其姓名信息且为非专任教师？");
                            if (result) {
                                addWP(XM);
                            }
                        } else {
                            var temp = jsmsg.aaData[0];
                            $("#JSID").val(temp['ID']);
                            if (temp['SFZR'] == "是" && temp['XM'] != CZR) {
                                alert("此教师是专任教师，您不能为其选课！");
                            } else {
                                $.ajax({
                                    type: "get",
                                    url: '/teacher_courseService/exztXk',
                                    dataType: "json",
                                    data: {jsid: $("#JSID").val(), kcid: $("#KCID").val()},
                                    async: true,
                                    cache: true,
                                    success: function (exdata) {
                                        if (exdata.result[0]) {
                                            var result = confirm("您已有此课程的选课记录，是否覆盖您的选课信息？");
                                            if (result) {
                                                $('#JSKCID').val(exdata.result[0]['ID']);
                                                submitxk();
                                            }
                                        } else {
                                            submitxk();//2再提交表单
                                        }
                                    },
                                    error: function (e) {
                                        console.log('e');
                                    }
                                });
                                btn.attr("clicked", "1");
                            }
                        }
                    },
                    error: function (e) {
                        console.log('教师id请求失败');
                    }
                });

            } else {
                //不再执行点击操作
            }
        }
    }
    //A2提交选课表单
    function submitxk() {
        $.ajax({
            type: "post",
            url: '/selectcourse/_editXk.html',
            dataType: "json",
            data: $('#xkform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.result != 0) {
                    $("#modal-edit-event").modal('hide');
                }
                location.reload();
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    //查询此教师选课列表
    function getXk() {
        var XM = $("#JSMCX").val();//首先获取此教师姓名为操作人
        var KCID = $("#KCID").val();//kcid
        $.ajax({
            type: "get",
            url: '/teacher_courseService/getXk',
            dataType: "json",
            data: {czr: XM, kcid: KCID},
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.result.length > 0) {
                    $("#xgtable").html("<tr><th style='width: 20%'>头数</th>" +
                        "<th style='width: 25%'>教师姓名</th>" +
                        "<th style='width: 35%'>备注</th>" +
                        "<th style='width: 10%'></th>" +
                        "<th style='width: 10%'></th></tr>");
                    for (var i = 0; i < msg.result.length; i++) {
                        var temp = msg.result[i];
                        var ctr = document.createElement("tr");
                        ctr.setAttribute("id", i);
                        var ctd1 = document.createElement("td");
                        var ctd2 = document.createElement("td");
                        var ctd3 = document.createElement("td");
                        var ctd4 = document.createElement("td");
                        var ctd5 = document.createElement("td");

                        ctd1.innerHTML = '<input id="XZTSXG" name="XZTSXG" type="number" min="1" max="<%= sur %>" class="form-control" value=\'' + temp['TS'] + '\'>';
                        ctd2.innerHTML = '<input id="JSMCXG" name="JSMCXG" type="text" class="form-control" disabled value=\'' + temp['XM'] + '\'>';
                        ctd3.innerHTML = '<input id="BZXG" name="BZXG" type="text" class="form-control" value=\'' + temp['BZ'] + '\'>';
                        ctd4.innerHTML = '<button id="btn2" clicked="0" type="button" class="btn btn-primary" onclick="reviseXg()">修改</button>';
                        ctd5.innerHTML = '<button id="btn3" clicked="0" type="button" class="btn btn-primary" onclick="delectXk(\'' + temp['KCID'] + '\',\'' + temp['JSID'] + '\')">删除</button>';

                        document.getElementById("xgtable").appendChild(ctr);
                        document.getElementById(i).appendChild(ctd1);
                        document.getElementById(i).appendChild(ctd2);
                        document.getElementById(i).appendChild(ctd3);
                        document.getElementById(i).appendChild(ctd4);
                        document.getElementById(i).appendChild(ctd5);
                    }
                } else {
                    $("#xgtable").html("<tr><th>该门课程尚未有教师选择</th></tr><tr></tr>");

                }
            },
            error: function (e) {
                console.log('此教师选课请求失败');
            }
        });
    }

    //修改选课
    function reviseXg() {
        if ($("#XZTSXG").val() == '' || $("#XZTSXG").val() == 0) {
            alert("头数不能为空");
        }
        else if (parseInt($("#XZTSXG").val()) > parseInt($("#SUR").val())) {
            alert("超出剩余头数");
        }
        else {
            var btn = $("#btn3");//按钮提交控制
            if (btn.attr("clicked") == "0") {
                //执行点击
                //提交操作先请求教师的id
                var XM = $("#JSMCXG").val();
                $.ajax({
                    type: "get",
                    url: '/teacherService/getTidByMc',
                    dataType: "json",
                    data: {XM: XM},
                    async: false,
                    cache: true,
                    success: function (jsmsg) {
                        var temp = jsmsg.aaData[0];
                        //return temp['ID'];
                        $("#JSIDXG").val(temp['ID']);
                        submitxg();//2再提交表单
                        btn.attr("clicked", "1");
                    },
                    error: function (e) {
                        console.log('教师id请求失败');
                    }
                });
            } else {
                //不再执行点击操作
            }
        }
    }

    //修改功能提交表单2
    function submitxg() {
        $.ajax({
            type: "post",
            url: '/selectcourse/_editXg.html',
            dataType: "json",
            data: $('#xgform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.result != 0) {
                    $("#modal-edit-event").modal('hide');
                }
                alert("修改成功");
                location.reload();
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    //删除教师选课
    function delectXk(kcid, jsid) {
        var btn = $("#btn3");//按钮提交控制
        if (btn.attr("clicked") == "0") {
            //执行点击
            $.ajax({
                type: "get",
                url: '/teacher_courseService/deleteXk',
                dataType: "json",
                data: {kcid: kcid, jsid: jsid},
                async: false,
                cache: true,
                success: function (msg) {
                    if (msg.state == 1) {
                        btn.attr("clicked", "1");
                        getXk();//局部刷新
                    } else {
                        console.log('删除失败');
                    }
                },
                error: function (e) {
                    console.log('教师课程删除请求失败');
                }
            });
        } else {

        }
    }
    //添加一个外聘教师只有姓名是否专任
    function addWP(tname) {
        $.ajax({
            type: "post",
            url: '/teacherService/addWP',
            dataType: "json",
            data: {XM: tname},
            async: true,
            cache: true,
            success: function (msg) {
                if (msg.state.affectedRows > 0) {
                    $.ajax({
                        type: "get",
                        url: '/teacherService/getTidByMc',
                        dataType: "json",
                        data: {XM: tname},
                        async: false,
                        cache: true,
                        success: function (jsmsg) {
                            var temp = jsmsg.aaData[0];
                            console.log(temp['ID']);
                            $("#JSID").val(temp['ID']);
                            submitxk();//2再提交表单
                        },
                        error: function (e) {
                            console.log('教师id请求失败');
                        }
                    });

                }
            },
            error: function (e) {
                console.log('e');
            }
        });


    }

</script>