<style type="text/css">
    .form-control{
        height: 28px;
        padding: 3px;
        font-size: 14px;
        vertical-align: middle;
    }
    .modal-footer{
        text-align:center;
        margin: auto;
        padding:10px 10px;
    } 
    .modal-footer button{
        padding: 5px 10px;
        width: 70px;
        height: 28px;
        line-height: 15px;
    }
</style>
<div class="modal-dialog" style="margin-top: 5%;">
    <div class="modal-content" style="width:80%;margin:0 auto;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">课程信息编辑</h4>
        </div>
        <div class="modal-body">
            <form id="myform">
                <input id="ID" name="ID" type="hidden" class="form-control" value="<%= id %>">
                <div class="box-body" style="padding:0px">
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>课程编号</label>
                            <input id="KCBH" name="KCBH" type="text" class="form-control" value="<%= kcbh %>">
                        </div>
                        <div class="col-lg-6">
                            <label>课程名称</label>
                            <input id="KCMC" name="KCMC" type="text" class="form-control" value="<%= kcmc %>">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>课程英文名称</label>
                            <input id="KCYWMC" name="KCYWMC" type="text" class="form-control" value="<%= kcywmc %>">
                        </div>
                        <div class="col-lg-6">
                            <label>课程负责人</label>
                            <input id="KCFZR" name="KCFZR" type="text" class="form-control" value="<%= kcfzr %>">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>课程类型</label>
                            <input id="KCLX" name="KCLX" type="text" class="form-control" value="<%= kclx %>">
                        </div>
                        <div class="col-lg-6">
                            <label>周学时</label>
                            <input id="ZXS" name="ZXS" type="text" class="form-control" value="<%= zxs %>">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>上机学时</label>
                            <input id="SJXS" name="SJXS" type="text" class="form-control" value="<%= sjxs %>">
                        </div>
                        <div class="col-lg-6">
                            <label>学分</label>
                            <input id="XF" name="XF" type="text" class="form-control" value="<%= xf %>">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>适用对象</label>
                            <input id="SYDX" name="SYDX" type="text" class="form-control" value="<%= sydx %>">
                        </div>
                        <div class="col-lg-6">
                            <label>先导课程</label>
                            <input id="XDKC" name="XDKC" type="text" class="form-control" value="<%= xdkc %>">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>后续课程</label>
                            <input id="HXKC" name="HXKC" type="text" class="form-control" value="<%= hxkc %>">
                        </div>
                        <div class="col-lg-6">
                            <label>教研室划分</label>
                            <select id="JYSHF" name="JYSHF" class="form-control">
                                <%- jyscode %>
                            </select>
                            <input id="TEMP" name="TEMP" type="hidden" class="form-control" value="<%= jyshf %>">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%">
                        <div class="col-lg-6">
                            <label>专业负责人</label>
                            <input id="ZYFZR" name="ZYFZR" type="text" class="form-control" value="<%= zyfzr %>">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">提交</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#JYSHF").val($("#TEMP").val());
    });

    function submitForm() {
        var verge = true;
        if ($('#KCBH').val() == "") {
            alert("课程编号不能为空");
            var verge = false;
        } else if ($('#KCMC').val() == "") {
            alert("课程名称不能为空");
            var verge = false;
        } else if ($('#KCFZR').val() == "") {
            alert("课程负责人不能为空");
            var verge = false;
        } else if ($('#KCLX').val() == "") {
            alert("课程类型不能为空");
            var verge = false;
        } else if ($('#ZXS').val() == "") {
            alert("周学时不能为空");
            var verge = false;
        } else if ($('#SJXS').val() == "") {
            alert("上机学时不能为空");
            var verge = false;
        } else if ($('#XF').val() == "") {
            alert("学分不能为空");
            var verge = false;
        } else if ($('#SYDX').val() == "") {
            alert("适用对象不能为空");
            var verge = false;
        } else if ($('#JYSHF').val() == null) {
            alert("教研室划分不能为空");
            var verge = false;
        }
        if (verge) {
            $.ajax({
                type: "post",
                url: '/course/_editCourse.html',
                dataType: "json",
                data: $('#myform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
                async: false,
                cache: true,
                success: function (msg) {
                    if (msg.result != 0) {
                        $("#modal-edit-event").modal('hide');
                    }
                    location.reload();
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    }
</script>