<style type="text/css">
    .select {
        width: 200%;
    }
    .modal-dialog {
        margin-top: 5%;
        width: 70%;
    }

    #edittable td {
        text-align: right;
        vertical-align: middle;
        font-size: 14px;
    }
    .form-control{
        height: 28px;
        padding: 3px;
        font-size: 12px;
    }
    .modal-footer{
        text-align:center;
        margin: auto;
        padding:10px 10px;
    } 
    .modal-footer button{
        padding: 5px 10px;
        width: 70px;
        height: 28px;
        line-height: 15px;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">教师信息编辑</h4>
        </div>
        <div class="modal-body">
            <div class="box">
                <div class="box-body">
                    <form id="assignform" method="post" action="assign_course/_editAssign.html">
                        <input id="ID" name="ID" type="hidden" class="form-control" value="<%= id %>">
                        <input id="TERM" name="TERM" type="hidden">
                        <table id="edittable" class="table table-bordered">
                            <tr></tr>
                            <tr>
                                <td>教师姓名</td>
                                <td>
                                    <select id="JSXM" name="JSXM" class="form-control">
                                        <%- jsStr %>
                                    </select>
                                    <input id="JSXMTEMP" name="JSXMTEMP" type="hidden" value="<%= jsxm %>">
                                </td>
                                <td>
                                    所授课程
                                </td>
                                <td>
                                    <select id="SSKC" name="SSKC" class="form-control">
                                    </select>
                                    <input id="SSKCTEMP" name="SSKCTEMP" type="hidden" value="<%= sskc %>">
                                </td>
                                <td>
                                    课程负责人
                                </td>
                                <td>
                                    <select id="KCFZR" name="KCFZR" class="form-control" data-placeholder="先选择教师">
                                    </select>
                                    <input id="KCFZRTEMP" name="KCFZRTEMP" type="hidden" value="<%= kcfzr %>">
                                </td>
                            </tr>
                            <tr>
                                <td>所授专业</td>
                                <td>
                                    <select id="SSZY" name="SSZY" class="form-control">
                                    </select>
                                    <input id="SSZYTEMP" name="SSZYTEMP" type="hidden" value="<%= sszy %>">
                                </td>
                                <td>
                                    所授年级
                                </td>
                                <td>
                                    <select id="SSNJ" name="SSNJ" class="form-control">
                                    </select>
                                    <input id="SSNJTEMP" name="SSNJTEMP" type="hidden" value="<%= ssnj %>">
                                </td>
                                <td>所授班级</td>
                                <td>
                                    <select id="SSBJ" name="SSBJ" class="form-control">
                                    </select>
                                    <input id="SSBJTEMP" name="SSBJTEMP" type="hidden" value="<%= ssbj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>班级人数</td>
                                <td>
                                    <input id="BJRS" name="BJRS" type="text" class="form-control" value="<%= bjrs %>">
                                </td>
                                <td>上课时间</td>
                                <td>
                                    <input id="SKSJ" name="SKSJ" type="text" class="form-control" value="<%= sksj %>">
                                </td>
                                <td>上课地点</td>
                                <td>
                                    <input id="SKDD" name="SKDD" type="text" class="form-control" value="<%= skdd %>">
                                </td>
                            </tr>
                            <tr>
                                <td>是否为上机课</td>
                                <td>
                                    <select id="SFWSJK" name="SFWSJK" class="form-control">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFWSJKTEMP" name="SFWSJKTEMP" type="hidden" value="<%= sfwsjk %>">
                                </td>
                                <td>是否单双周</td>
                                <td>
                                    <select id="SFDSZ" name="SFDSZ" class="form-control">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                    <input id="SFDSZTEMP" name="SFDSZTEMP" type="hidden" value="<%= sfdsz %>">
                                </td>
                                <td>外聘教师评价</td>
                                <td>
                                    <input id="WPJSPJ" name="WPJSPJ" type="text" class="form-control" value="<%= wpjspj %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>选课时备注：<%= bz %></div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="text-align:center;margin: auto">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" onclick="submitForm()">提交</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var term = $('.show_term').text().split(" ")[0];
        $("#TERM").val(term);
        $("#JSXM").val($("#JSXMTEMP").val());
        $("#SSKC").val($("#SSKCTEMP").val());
        $("#KCFZR").val($("#KCFZRTEMP").val());
        $("#SSZY").val($("#SSZYTEMP").val());
        $("#SSNJ").val($("#SSNJTEMP").val());
        $("#SSBJ").val($("#SSBJTEMP").val());
        $("#SFWSJK").val($("#SFWSJKTEMP").val());
        $("#SFDSZ").val($("#SFDSZTEMP").val());
        var JSXM = $('#JSXM');
        var SSKC = $('#SSKC');
        var KCFZR = $('#KCFZR');
        var SSZY = $('#SSZY');
        var SSNJ = $('#SSNJ');
        var SSBJ = $('#SSBJ');
        kcStr = "";
        fzrStr = "";
        $.ajax({
            type: "post",
            url: '/assignService/getkcStr',
            dataType: "json",
            data: {JSXM: JSXM.val()},
            async: true,
            success: function (data) {
                if (data) {
                    for (var i = 0; i < data.state.length; i++) {
                        kcStr += "<option value='" + data.state[i].KCMC + "'>" + data.state[i].KCMC + "</option>";
                        if (data.state[i].SFZR == '学院教师') {
                            $('#WPJSPJ').val("");
                            $('#WPJSPJ').attr("placeholder", "（非外聘教师）");
                            $('#WPJSPJ').attr("disabled", true);
                        } else {
                            $('#WPJSPJ').attr("disabled", false);
                        }
                    }
                }
                SSKC.html(kcStr);
                $.ajax({
                    type: "post",
                    url: '/assignService/getfzrStr',
                    dataType: "json",
                    data: {KCMC: $('#SSKC').val()},
                    async: true,
                    success: function (fzrdata) {
                        if (fzrdata.state[0]) {
                            fzrStr = "<option value='" + fzrdata.state[0]['KCFZR'] + "'>" + fzrdata.state[0].KCFZR + "</option>";
                        }
                        KCFZR.html(fzrStr);
                    }
                });
                var zyStr = "";
                $.ajax({
                    type: "post",
                    url: '/assignService/getzyStr',
                    dataType: "json",
                    data: {JSXM: JSXM.val(), KCMC: SSKC.val()},
                    async: true,
                    success: function (data) {
                        if (data) {
                            for (var i = 0; i < data.state.length; i++) {
                                zyStr += "<option value='" + data.state[i].ZYMC + "'>" + data.state[i].ZYMC + "</option>";
                            }
                        }
                        SSZY.html(zyStr);
                        var njStr = "";
                        $.ajax({
                            type: "post",
                            url: '/assignService/getnjStr',
                            dataType: "json",
                            data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val()},
                            async: true,
                            success: function (data) {
                                if (data) {
                                    for (var i = 0; i < data.state.length; i++) {
                                        njStr += "<option value='" + data.state[i].KSNJ + "'>" + data.state[i].KSNJ + "</option>";
                                    }
                                    SSNJ.html(njStr);
                                    var bjStr = "";
                                    $.ajax({
                                        type: "post",
                                        url: '/assignService/getbjStr',
                                        dataType: "json",
                                        data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
                                        async: true,
                                        success: function (data) {
                                            if (data.state.length>0) {                                                
                                            for (var b = 1; b <= data.state[0].BJGS; b++){
                                                bjStr += "<option value='" + b + "大班'>" + b + "大班</option>";
                                            }                                              
                                            SSBJ.html(bjStr);
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    }
                });
            }
        });

    });

    var JSXM = $('#JSXM');
    var SSKC = $('#SSKC');
    var KCFZR = $('#KCFZR');
    var SSZY = $('#SSZY');
    var SSNJ = $('#SSNJ');
    var SSBJ = $('#SSBJ');
    JSXM.change(function () {
        kcStr = "";
        fzrStr = "";
        $.ajax({
            type: "post",
            url: '/assignService/getkcStr',
            dataType: "json",
            data: {JSXM: JSXM.val()},
            async: true,
            success: function (data) {
                if (data) {
                    for (var i = 0; i < data.state.length; i++) {
                        kcStr += "<option value='" + data.state[i].KCMC + "'>" + data.state[i].KCMC + "</option>";
                        if (data.state[i].SFZR == '学院教师') {
                            $('#WPJSPJ').val("");
                            $('#WPJSPJ').attr("placeholder", "（非外聘教师）");
                            $('#WPJSPJ').attr("disabled", true);
                        } else {
                            $('#WPJSPJ').attr("placeholder", "请输入评价");
                            $('#WPJSPJ').attr("disabled", false);
                        }
                    }
                }
                SSKC.html(kcStr);
                $.ajax({
                    type: "post",
                    url: '/assignService/getfzrStr',
                    dataType: "json",
                    data: {KCMC: $('#SSKC').val()},
                    async: true,
                    success: function (fzrdata) {
                        if (fzrdata.state[0]) {
                            fzrStr = "<option value='" + fzrdata.state[0]['KCFZR'] + "'>" + fzrdata.state[0].KCFZR + "</option>";
                        }
                        KCFZR.html(fzrStr);
                    }
                });
                var zyStr = "";
                $.ajax({
                    type: "post",
                    url: '/assignService/getzyStr',
                    dataType: "json",
                    data: {JSXM: JSXM.val(), KCMC: SSKC.val()},
                    async: true,
                    success: function (data) {
                        if (data) {
                            for (var i = 0; i < data.state.length; i++) {
                                zyStr += "<option value='" + data.state[i].ZYMC + "'>" + data.state[i].ZYMC + "</option>";
                            }
                        }
                        SSZY.html(zyStr);
                        var njStr = "";
                        $.ajax({
                            type: "post",
                            url: '/assignService/getnjStr',
                            dataType: "json",
                            data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val()},
                            async: true,
                            success: function (data) {
                                if (data) {
                                    for (var i = 0; i < data.state.length; i++) {
                                        njStr += "<option value='" + data.state[i].KSNJ + "'>" + data.state[i].KSNJ + "</option>";
                                    }
                                    SSNJ.html(njStr);
                                    var bjStr = "";
                                    $.ajax({
                                        type: "post",
                                        url: '/assignService/getbjStr',
                                        dataType: "json",
                                        data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
                                        async: true,
                                        success: function (data) {
                                            if (data.state.length>0) {                                                
                                                for (var b = 1; b <= data.state[0].BJGS; b++){
                                                    bjStr += "<option value='" + b + "大班'>" + b + "大班</option>";
                                                }                                              
                                                SSBJ.html(bjStr);
                                                $.ajax({
                                                    type: "post",
                                                    url: '/majorService/getRS',
                                                    dataType: "json",
                                                    data: {ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
                                                    async: true,
                                                    success: function (data) {
                                                        if (data && data.result.length > 0) {
                                                        $("#BJRS").val(data.result[0].GBDYRS);
                                                        }
                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                            }
                        });
                    }
                });
            }
        });
    });

    SSKC.change(function () {
        $.ajax({
            type: "post",
            url: '/assignService/getfzrStr',
            dataType: "json",
            data: {KCMC: $('#SSKC').val()},
            async: true,
            success: function (fzrdata) {
                if (fzrdata) {
                    fzrStr = "<option value='" + fzrdata.state[0].KCFZR + "'>" + fzrdata.state[0].KCFZR + "</option>";
                }
                KCFZR.html(fzrStr);
            }
        });
    });

    SSZY.change(function () {
        var njStr = "";
        $.ajax({
            type: "post",
            url: '/assignService/getnjStr',
            dataType: "json",
            data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val()},
            async: true,
            success: function (data) {
                if (data) {
                    for (var i = 0; i < data.state.length; i++) {
                        njStr += "<option value='" + data.state[i].KSNJ + "'>" + data.state[i].KSNJ + "</option>";
                    }
                    SSNJ.html(njStr);
                    var bjStr = "";
                    $.ajax({
                        type: "post",
                        url: '/assignService/getbjStr',
                        dataType: "json",
                        data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
                        async: true,
                        success: function (data) {
                            if (data.state.length>0) {                                                
                                if (data.state[0].BJGS > 0) {
                                    for (var b = 1; b <= data.state[0].BJGS; b++){
                                        bjStr += "<option value='" + b + "大班'>" + b + "大班</option>";
                                    }
                                }                                                
                                SSBJ.html(bjStr);
                                $.ajax({
                                    type: "post",
                                    url: '/majorService/getRS',
                                    dataType: "json",
                                    data: {ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
                                    async: true,
                                    success: function (data) {
                                        if (data && data.result.length > 0) {
                                            $("#BJRS").val(data.result[0].GBDYRS);
                                        }
                                    }
                                });
                            }
                        }
                    });
                }
            }
        });
    });

    SSNJ.change(function () {
        var bjStr = "";
        $.ajax({
            type: "post",
            url: '/assignService/getbjStr',
            dataType: "json",
            data: {JSXM: JSXM.val(), KCMC: SSKC.val(), ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
            async: true,
            success: function (data) {
                if (data.state.length>0) {                                                
                    for (var b = 1; b <= data.state[0].BJGS; b++){
                        bjStr += "<option value='" + b + "大班'>" + b + "大班</option>";
                    }                                              
                    SSBJ.html(bjStr);
                }
                $.ajax({
                    type: "post",
                    url: '/majorService/getRS',
                    dataType: "json",
                    data: {ZYMC: SSZY.val(), SSNJ: SSNJ.val()},
                    async: true,
                    success: function (data) {
                        if (data && data.result.length > 0) {
                        $("#BJRS").val(data.result[0].GBDYRS);
                        }
                    }
                });
            }
        });
    });

    function submitForm() {
        $.ajax({
            type: "post",
            url: '/assigncourse/_editAssign.html',
            dataType: "json",
            data: $('#assignform').serialize(),// 你的formid 注：后台req.body由控件name获取数据
            async: false,
            cache: true,
            success: function (msg) {
                if (msg.result != 0) {
                    $("#modal-edit-event").modal('hide');
                    var table = $('#assgindatatable').DataTable();
                    table.ajax.reload();
                    table.draw();		
                    $("#success_modal").modal();
                    setTimeout(function(){			
                        $("#success_modal").modal('hide');
                    },1000);
                }else{
                    $("#faile_modal").modal();
                    setTimeout(function(){					
                        $("#faile_modal").modal('hide');
                    },1000);
                }
            }
        });
    }
</script>